---
import Layout from "../layouts/Layout.astro";
---

<Layout title="ページが見つかりません | ねれ">
    <main id="main" class="container">
        <h1>404</h1>
        <p>ページが見つかりません。<a href="/">ホーム</a>に戻る。</p>
    </main>
</Layout>
