---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog | ねれ" description="ねれのブログ。">
    <main id="main" class="container stack-12" style="padding-top:18px;">
        <h1>Blog</h1>
        <p>このサイト内のブログは準備中です。</p>
        <p>
            現在の記事は <a
                href="https://nere531.com/blog"
                target="_blank"
                rel="noopener noreferrer">nere531.com/blog</a
            > をご覧ください。
        </p>
    </main>
</Layout>
